<div class="container">
  <div class="row">
    <!--Main page split 8/12-->
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-12">
          <br>
          <a style="color:black" href="/#/newdeck"><h1><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Create a New Deck</h1></a>
          <br>
          <h3>My Decks</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 my-decks-container" ng-repeat="deck in decks">
          <div class="my-decks-cover" ng-click="showDeck(deck.deck_id)">
            <span class="spaceHolder"></span>
            <p class="cover-text">{{deck.question}}</p>
          </div>
          <h5>{{deck.name}}</h5>
        </div>
      </div>
    </div>
    <!--Main page split 4/12-->
    <div class="col-md-4 notifications-panel">
      <h3>Notifications</h3>
      <div class="row">
        <div class="col-md-12">
          <div class="notification-box">
            <span class="notificationSpace"></span>
            <p class="cover-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="notification-box">
            <span class="notificationSpace"></span>
            <p class="cover-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="notification-box">
            <span class="notificationSpace"></span>
            <p class="cover-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="notification-box">
            <span class="notificationSpace"></span>
            <p class="cover-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="notification-box">
            <span class="notificationSpace"></span>
            <p class="cover-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>