<div class="container-fluid">
  <div class='col-md-6'>
    <!--Question card-->
    <div class="row">
      <div class="col-md-12">
        <div class="question-card">
          <span class="question-card-spaceHolder"></span>
          <p class="cover-text">{{current_card.question}}</p>
        </div>
      </div>
    </div>
    <!--Answer card-->
    <div class="row">
      <div class="col-md-12">
        <a href="" ng-click="showAnswer=!showAnswer"><div class="answer-card">
          <span class="question-card-spaceHolder"></span>
          <p class="cover-text" ng-show="showAnswer">{{current_card.answer}}</p>
          <img src="../images/question.png" ng-show="!showAnswer">
        </div></a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-sm-8 col-xs-8">
        <a href="" ng-click="prevCard()" class="pull-left"><h4><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Previous</h4></a>
        <a href="" ng-click="nextCard()" class="pull-right"><h4>Next <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></h4></a>
      </div>
    </div>
  </div>
  <!--title previously answered side-->
  <div class='col-md-6'>
    <div class="row">
      <div class="col-md-12">
        <h1>{{current_deck[0].name}}</h1>
        <h3>{{current_deck.length - current_cardID}} Questions Remain</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6" ng-repeat="card in previouslyAnswered">
        <div class="my-decks-cover">
          <span class="spaceHolder"></span>
          <p class="cover-text">{{card.question}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
