/* For ngCloak */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/* For Navbar */
ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #2072de;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-family: "proxima-nova-soft", "Helvetica Neue", helvetica, sans-serif;
  font-size: 17px;
}

ul.topnav li a:hover {background-color: #111;}

ul.topnav li.icon {display: none;}

@media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}

@media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}
/* End Navbar */
#navbarLogo {
  font-size: 22px;
}

/* Center gylphcon w/text */
.glyphicon {
  top: 5px;
}

.my-decks-cover {
  height: 200px;
  width: 200px;
  border: 1px solid black;
  text-align: center;
}

.cover-text, .question-text, .answer-text {
  vertical-align: middle;
  display:inline-block;
}
/*this helps center the text vertically on card*/
.spaceHolder{
  line-height:200px;
}

.question-card {
  height: 200px;
  width: 430px;
  border: 1px solid black;
  margin-bottom: 15px;
  margin-top: 15px;
  text-align: center;
}

.answer-card {
  height: 200px;
  width: 430px;
  border: 1px solid black;
  text-align: center;
}

.question-card-spaceHolder {
  line-height:200px;
}

.notifications-panel {
  border-style: solid 1px black;
  border-right-style: none;
  border-top-style: none;
  border-bottom-style: none;
}

.notification-box {
  height: 100px;
  width: 400px;
  border: 1px solid black;
  margin-bottom: 15px;
  text-align: center;
}

.notificationSpace{
  line-height:100px;
}

.notification-text {
  vertical-align: middle;
  display:inline-block;
  margin: 2px;
}

